.loginContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #023047;
  font-family: Arial, sans-serif;
  padding: 2rem;
  box-sizing: border-box;
  min-height: 100vh;
  align-items: center;
  padding: 2rem;

}

.loginBox {
  background-color: #0b2029;
  padding: 3rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 400px;
  text-align: center;
  color: #8ecae6;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.loginTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #ffb703;
}

.loginError {
  color: #f87171;
  margin-bottom: 1rem;
  font-weight: 500;
}

.loginInput {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #003366;
  color: #fff;
  border: 1px solid #ffb703;
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s ease;
}

.loginInput::placeholder {
  color: #ccc;
}

.loginInput:focus {
  border-color: #fb8500;
}

.loginButton {
  width: 100%;
  background-color: #ffb703;
  color: #023047;
  padding: 0.75rem;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease;
}

.loginButton:hover {
  background-color: #fb8500;
}
