.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0b2029;
    color: #ffb703;
    padding: 10px 20px;
  }
  
  .header h1 {
    font-size: 1.5rem;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #ffb703;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
    color: orange;
  }

  .signOutButton {
    background-color: #ec6868;  /* Red background */
    color: white;               /* White text color */
    font-size: 16px;            /* Font size */
    padding: 10px 20px;         /* Padding around the text */
    border: none;               /* Remove border */
    border-radius: 5px;         /* Rounded corners */
    cursor: pointer;            /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth background color transition */
    display: inline;
  }

  .signOutButton:hover {
    background-color: #c62f2f;  /* Darker red background on hover */
  }

  
  